@use "../global" as g;

// =========================================
// 各セクションの仮スタイル（サイズ確保用）
// =========================================
.p-fv,
.p-message,
.p-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; // 画面いっぱいの高さ
  border-bottom: 1px solid #ccc; // SP時の区切り線（仮）

  @include g.mq("lg") {
    width: 100vw; // PC時は1画面分の横幅を持たせる
    border-right: 1px dashed #ccc; // PC時の区切り線（仮）
    border-bottom: none;
  }
}

// フッター（仮）
.l-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  color: g.$color-bg;
  background-color: g.$color-text;

  @include g.mq("lg") {
    width: 50vw;
    height: 100vh;
  }
}
