// =========================================
// 全体共通カラー
// =========================================
$color-bg: #fdfbf7;
$color-text: #4a3b32;

// =========================================
// 四季のテーマカラー
// =========================================
$color-spring: #f2b4b8;
$color-summer: #6bb6d6;
$color-autumn: #d98a59;
$color-winter: #e8f0f2;

// =========================================
// コーヒーカラー（Messageセクションなどで使用）
// =========================================
$color-coffee: #3e2723; // 深みのあるダークなエスプレッソカラー

// =========================================
// フォント関連
// =========================================
$font-en: "Playfair Display";
$font-ja: "Shippori Mincho";
$font-base: $font-en, $font-ja, serif;
$weight-normal: 400;
$weight-bold: 700;

// =========================================
// ブレイクポイント
// =========================================
$breakpoints: (
  // 768px以上
  "md": "(width >= 768px)",
  // 1024px以上
  "lg": "(width >= 1024px)",
  // TODO 必要なかったら削除する
  // 1440px以上
  "xl": "(width >= 1440px)"
);

// =========================================
// z-index
// =========================================
$z-index-header: 1000;
$z-index-foreground: 500;

// =========================================
// Transition関連
// =========================================
$transition-duration: 0.3s;
$transition-easing: ease-out;
$transition-base: $transition-duration $transition-easing;

// =========================================
// hover関連
// =========================================
$hovered-opacity: 0.6;
