@use "../../global" as g;

// =========================================
// 時計パーツ (p-clock)
// =========================================
.p-clock {
  --clock-width: #{g.rem(100)};

  position: absolute;
  top: 17%;
  right: 3.5%;
  width: var(--clock-width);
  aspect-ratio: 1;

  @include g.mq(md) {
    --clock-width: #{g.rem(130)};

    right: 6.5%;
  }

  @include g.mq(lg) {
    --clock-width: #{g.rem(160)};

    top: 12%;
    right: 8%;
  }

  &__face {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: g.$color-bg; // 盤面の色
    border: 4px solid g.$color-text; // 時計の枠線
    border-radius: 50%;
    box-shadow: 2px 4px 8px rgb(0 0 0 / 10%); // ほんのり立体感

    @include g.mq(lg) {
      border-width: 6px;
    }
  }

  &__numbers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__number {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: g.rem(13);
    font-weight: g.$weight-bold;
    line-height: 1;
    color: g.$color-text;

    // 計算式：
    // 中央から角度(30度×番号)だけ回転させる
    // translateYで外側へ移動させる (半径分)
    // 移動先で逆方向に回転させて、数字を真っ直ぐ立たせる
    transform: translate(-50%, -50%) rotate(calc(30deg * var(--i))) translateY(calc(-1 * var(--clock-width) / 2 + 110%))
      rotate(calc(-30deg * var(--i)));

    @include g.mq(lg) {
      font-size: g.rem(18);
    }
  }

  &__hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: g.$color-text;
    border-radius: 3px;

    // 針の根元を中心に回転させる
    transform-origin: bottom center;

    // 長針
    &--long {
      width: g.rem(3);
      height: 40%; // 盤面の半径より少し短め

      @include g.mq(lg) {
        width: g.rem(4);
      }
    }

    // 短針
    &--short {
      width: g.rem(5);
      height: 25%; // 長針より短くて太め

      @include g.mq(lg) {
        width: g.rem(6);
      }
    }
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: g.rem(11);
    aspect-ratio: 1;
    background-color: g.$color-text;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    @include g.mq(lg) {
      width: g.rem(14);
    }
  }
}
